img {
    display:block;
    width: 400px;
    height: 400px;
    margin: auto;
    bottom: 10px;
}

body {
    background-image: url(Images/BG_Epona.png);
    background-repeat: no-repeat;
    background-size: 100%;
}