body {
    background-color: #d1ffbd;
    font-family: 'Tahoma';
 
}

.header {
    background-color: darkgreen;
    padding: 15px;
}

.sidenav {
    position: fixed;
    left: 0px;
    background-color: forestgreen;
    color: white;
    text-decoration: none;
    height: 100%;
    border: black; size: 2px;

}

.main {
    margin-left: 10px;
}

h1 {
    color: white;
    outline: black; outline-style: initial;
    text-align: center;
}

a {
    text-decoration: none;
}