body {
    background-color: #d1ffbd;
    font-family: 'Tahoma';
 
}

.header {
    background-color: darkgreen;
    padding: 20px;
}

h1 {
    color: white;
    outline: black; outline-style: initial;
    text-align: center;
}