body {
    background-color: lightgreen;
    font-family: 'Tahoma';

}

header {
    color: darkgreen;
    size: 20px;
}

h1 {
    color: white;
    outline: black; outline-style: initial;
}